.container1 {
  background-image: url('/decor/background1.png');
  background-color: #000000;
  background-size:cover;
  background-position:left;
  width: 100vw; /* Set width to 100% of viewport width */
  height: 100vh;
}

.container {
  background-color: #000000;
  width: 100vw; /* Set width to 100% of viewport width */
  height: 100vh;
}

.main {
  background-color: transparent;
  min-height: 0vh;
  padding: 0rem 0rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: center;
  align-items: scretch;
  margin-top: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px; /* Adjust the height as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.back-button {
  border:none;
  appearance: none;
}

.title{
  color: #ffffff;
  height: 0vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'VT323', monospace;
  font-size: 35px;
  line-height:24px;
}

.subtitle{
  color: #ffffff;
  opacity: 0.6;
  top: 0vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'VT323', monospace;
  font-size: 15px;
}

.bigtitle{
  margin: 140px;
  color:white;
  height: 10vh;
  display: flex;
  justify-content: center;
  text-align:center;
  align-items: center;
  line-height:90px;
  font-family: 'VT323', monospace;
  font-size: 80px;
}

.luckname{
  margin-top: calc(0vh - 80px);
  color:white;
  height: 0vh;
  display: flex;
  justify-content: center;
  text-align:center;
  align-items: center;
  line-height:70px;
  font-family: 'VT323', monospace;
  font-size: 50px;
}

.bigsubtitle{
  margin: 0px;
  color:white;
  height: 10vh;
  display: flex;
  justify-content: center;
  text-align:center;
  align-items: center;
  line-height:70px;
  font-family: 'VT323', monospace;
  font-size: 40px;
}

.bigsubtitle2{
  margin: 0px;
  color:white;
  opacity:80%;
  height: 30vh;
  display: flex;
  justify-content: center;
  text-align:center;
  align-items: center;
  line-height:0px;
  font-family: 'VT323', monospace;
  font-size: 30px;
}



.zodiacName{
  color:white;
  height: 0vh;
  display: flex;
  justify-content: center;
  text-align:center;
  align-items: center;
  line-height:70px;
  font-family: 'VT323', monospace;
  font-size: 60px;
}

.description{
  color: #ffffff;
  opacity: 1;
  top: 0vh;
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  font-family: 'VT323', monospace;
  font-size: 15px;
}

.imageContainer{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.zodiacImage {
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  width-max: 100%;
  height: auto;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}


.traitsection {
  display: flex;
  align-items: center; /* Vertically center the elements within the section */
  justify-content: center;
}

.traitsubtitle {
  margin: 0 10px;
  color:white;
  font-family: 'VT323', monospace;
  font-size: 25px;
}

/* Component.module.css */
.buttoncontainer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px; /* Adjust padding as needed */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: transparent;
  border: none;
  padding: 20px;
  display: flex;
  align-items: center;
}

.text {
  color: white;
  font-family: 'VT323', monospace;
  font-size: 20px;
  margin-right: 10px; /* Adjust the distance between text and icon */
}


.icon {
  width: 20px; /* Adjust icon size as needed */
  height: 20px;
}

.ranknumber{
  margin: 0px;
  color:white;
  height: 10vh;
  display: flex;
  justify-content: center;
  text-align:center;
  align-items: center;
  line-height:70px;
  font-family: 'VT323', monospace;
  font-size: 170px;
}

.subranknumber{
  margin: 20px;
  opacity: 80%;
  color:white;
  height: 10vh;
  display: flex;
  justify-content: center;
  text-align:center;
  align-items: center;
  line-height:70px;
  font-family: 'VT323', monospace;
  font-size: 30px;
}

.luckrankbg1{
position: fixed;
opacity:80%;
bottom: 0;
middle: 0;
width: 450px; /* Adjust width as needed */
height: 360px; /* Adjust height as needed */
background-size: cover; /* Scale the background image to cover the entire element */
background-image: url('/decor/gold bullion.jpeg'); 
background-repeat: no-repeat; /* Prevent the background image from repeating */
}

.luckrankbg2{
position: fixed;
opacity:80%;
bottom: 0;
left: 0;
width: 250px; /* Adjust width as needed */
height: 300px; /* Adjust height as needed */
background-size: cover; /* Scale the background image to cover the entire element */
background-image: url('/decor/fortune stick.png'); 
background-repeat: no-repeat; /* Prevent the background image from repeating */
z-index: 0;
}

.luckrankbg3{
position: fixed;
opacity:80%;
top: 0;
right: 0;
width: 200px; /* Adjust width as needed */
height: 250px; /* Adjust height as needed */
background-size: cover; /* Scale the background image to cover the entire element */
background-image: url('/decor/red lantern.jpeg'); 
z-index: 0;
}

.luckrankbg4{
position: fixed;
bottom: 0;
right: 0;
rotate: 15deg;
margin-right: 50px;
margin-bottom: 200px;
width: 80px; /* Adjust width as needed */
height: 80px; /* Adjust height as needed */
background-size: cover; /* Scale the background image to cover the entire element */
background-image: url('/decor/dumpling.jpeg'); 
z-index: 0;
}

.luckrankbg5{
position: fixed;
opacity:100%;
top: 0;
middle: 0;
margin-top: 130px;
width: 220px; /* Adjust width as needed */
height: 220px; /* Adjust height as needed */
background-size: cover; /* Scale the background image to cover the entire element */
background-image: url('/decor/ring.png'); 
z-index: 0;
}

.layer{
  z-index: 2;
}



/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  /* CSS styles for extra small devices */
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* CSS styles for small devices */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* CSS styles for medium devices */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* CSS styles for large devices */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* CSS styles for extra large devices */
}
